* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 300px auto;
}

.sub {
  align-self: center;
  border: none;
  outline: none;
  background-color: tomato;
  color: #fff;
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in;
  
}

.modal {
  width:38%;
  height: 450px;
  background-color: rgb(255, 255, 255);
  position: absolute;

  -webkit-box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 27px -4px rgba(0, 0, 0, 0.78);
  border-radius: 10px;
  display: none;
}

@media screen and ( max-width:500px) {


    .modal {
width:95%;



}

h1 {
font-size: 25px;


}

}

.left,
.right {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  background: url(assets/img/devushka-gorod-robot-fantasy-art-art-robot-fantastika-kiborg.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  animation: change 30s ease-in-out infinite;
}

@keyframes change {
  0% {
    background: url(assets/img/download.jpeg);
    background-size: cover;
    background-position: center;
  }

  25% {
    background: url(assets/img/josan-gonzalez-lex-01-v4.jpg);
    background-size: cover;
    background-position: center;
  }

  40% {
    background: url(assets/img/oE7qvED.jpg);
    background-size: cover;
    background-position: center;
  }

  60% {
    background: url(assets/img/the-art-of-deathburger-24.jpg);
    background-size: cover;
    background-position: center;
  }

  80% {
    background: url(assets/img/deathburger-nightfall-josan-gonzalez-1.jpg);
    background-size: cover;
    background-position: center;
  }

  90% {
    background: url(assets/img/idsovak.jpg);
    background-size: cover;
    background-position: center;
  }

  100% {
    background: url(assets/img/devushka-gorod-robot-fantasy-art-art-robot-fantastika-kiborg.jpg);
    background-size: cover;
    background-position: center;
  }
}

.right {
  background-color: rgb(255, 255, 255);
}

.wrapper {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.top-menu-item {
  margin-right: 10px;
}

.title,
.desc {
  margin: 0;
  padding: 0;
}

.desc {
  font-weight: 200;
}


input {
  padding: 7px;
  border-radius: 5px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #cecece;
}

.submit {
  border: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
width: 20px;
height: 20px;
top: 10px;
right: 10px;
position: absolute;
cursor: pointer;


}